<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Jokes</title>
</head>
<body>
	<h1>Chuck Norris Jokes</h1>
	<p th:text=${joke}>INSERT JOKE HERE</p>
	<!-- <table>
		<tr>
			<th>ID</th>
			<th>FirstName</th>
			<th>LastName</th>
		</tr>
		<tr th:each="author: ${authors}">
			<td th:text="${author.id}">555</td>
			<td th:text="${author.firstName}">Himanshu</td>
			<td th:text="${author.lastName}">Gawari</td>
		</tr>
	</table> -->
</body>
</html>